div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: red;
    display: inline-block;
}

#box1 {
    position: absolute;
    top: 10px;/*flow se udd jaayega*/
    left: 10px;
}