.cont{
    width: 200px;
    height: 200px;
    background-color: red;
    border: 2px solid black;
    padding: 10px;
    margin: 4rem auto;
    overflow: auto;
}

.cont:hover{
    transform: rotateZ(45deg);
    transform: rotateZ(-45deg);
} 