div{
    height: 100px;
    width: 100px;
    margin: 25px;
    padding: 25px;
    display: inline-block;/*as soon as it's inline we cannot apply any padding margin to it because of inline and if we apply inline block to it then we can apply padding, margin to it */
}

#ho{
    display: none;/*does not reserve any space for the content and remove it from the document*/
}
